<div>
  <h1 class="font-bold text-4xl text-center mt-4">Hey there!</h1>
  <p class="m-6 p-16 text-left text-l">This is a standard forum for general use, where people can hold conversations in the form of posted messages. Discussion forums are the most traditional type of forum. After a forum thread is initiated, other members can respond and keep the conversation going, bluh bluh... Come on,
  <%= link_to "try it out!!", discussions_path, class: "text-teal-500 font-bold underline text-xl" %>
  </p>
</div>
