<%= turbo_frame_tag dom_id(post) do %>
  <div class="flex flex-col justify-center items-center">
    <div class="m-4 mt-4 w-9/12 sm:w-auto md:w-auto lg:w-3/4 xl:w-3/4 rounded-xl overflow-hidden shadow-lg border">
      <div class="p-4">
        <%= render "discussions/posts/header", post: post %>
        <div class="mt-4">
          <%= post.body %>
        </div>
      </div>
      <div class="p-4 flex justify-end">
        <%= link_to "Edit", edit_discussion_post_path(post.discussion, post), data: { turbo_frame: dom_id(post) } %>
      </div>
    </div>
  </div>
<% end %>
