<div id="<%= dom_id category %>">
  <% if controller_name == "categories" %>
    <div class="flex justify-start m-8 gap-2 text-xl border-b">
    <% else %>
      <div class="flex justify-between mt-5">
      <% end %>
      <%= link_to category.name, category_discussions_path(category), class: "no-underline hover:underline text-blue-500" %>
      <% if category.discussions_count&.positive? %>
        <span class="px-2 mr-2 mb-2 bg-teal-500 rounded-3xl text-white">
          <%= category.discussions_count %>
        </span>
      <% end %>
    </div>
  </div>
