<div id="<%= dom_id category %>">
  <div class="flex justify-between mt-2">
    <%= link_to category.name, category_discussions_path(category) %>
    <% if category.discussions_count&.positive? %>
      <span class="px-2 bg-teal-400 rounded-3xl">
        <%= category.discussions_count %>
      </span>
    <% end %>
  </div>
</div>
